body{
    background-color: #CDA781;
    margin: 0px;
    padding: 0px;
}

.image{
    width: 150px;
    height: 150px;
    left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.p{
    position: absolute;
    top: 230px;
    left: 550px;
}

.box{
    position: absolute;
    width: 800px;
    height: 80px;
    left: 310px;
    top: 280px;
    background: #D1BEAB;
    border-radius: 48px;
}

.box-teks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 10px;
}

.box-teks ul{
    display:flex;
}

.box-teks ul p{
    margin:50px;
    font-family: 'Sorts Mill Goudy';;
    color:#505050;
    font-size: 18px;
    font-weight:400;
}

h5{
    position: absolute;
    left:340px;
    top: 400px;
    color: black;
    font-family: 'Scope One';
}

.container{
    position: absolute;
    width: 55%;
    height: 30%;
    padding: 16px 30px;
    background-color: #D1BEAB ;
    top: 430px;
    left: 340px; 
}

.table{
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}

.table th td{
    border: 2px solid #999;
    padding: 8px 20px;
}